{% extends 'base.html' %}
{% load static %}
{% block account_and_login %}
  <header>
  {{block.super}}
{% endblock account_and_login %}
{% block content %}

        <ul>
          <li><a href="/">Start</a></li>
          <li><a href="/#steps">O co chodzi?</a></li>
          <li><a href="/#about-us">O nas</a></li>
          <li><a href="/#help">Fundacje i organizacje</a></li>
          <li><a href="/login/#contact">Kontakt</a></li>
        </ul>
      </nav>
    </header>
 {% if messages %}
    {% for message in messages %}
      <h1>{{message}}</h1>
    {% endfor %}
  {% endif %}
    <section class="login-page">
      <h2>Zaloguj się</h2>
      <form action="" method="POST">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
          {{field}}
        </div>
      {% endfor %}
        <div class="form-group form-group--buttons">
          <a href="/register/" class="btn btn--without-border">Załóż konto</a>
          <button class="btn" type="submit">Zaloguj się</button>
        </div>
        <input type="hidden" name="next" value="{{next}}">
      </form>
    </section>
{% endblock content %}
