{% extends 'base.html' %}
{% load static %}
{% block account_and_login %}
<header>
{{ block.super }}
{% endblock account_and_login %}
{% block content %}
    <ul>
          <li><a href="/" class="btn btn--without-border active">Start</a></li>
          <li><a href="/#steps" class="btn btn--without-border">O co chodzi?</a></li>
          <li><a href="/#about-us" class="btn btn--without-border">O nas</a></li>
          <li><a href="/#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
          <li><a href="/add_donation/" class="btn btn--without-border">Przekaż dary</a></li>
          <li><a href="/add_donation/#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
      </nav>
</header>
<div class="container container--70">
<h1>Aktualny email: {{ user.email }}</h1> <br>
<h1>Imię: {{ user.first_name }}</h1><br>
<h1>Nazwisko: {{ user.last_name }}</h1><br>
<h1>Przekazane datki: </h1>

{% for donation in user.donation_set.all %}
<h3>
<ul>
    <li><div class="container">Dla kogo: <strong>{{ donation.institution.name }}</div></span></li><br>
    <div class="container">Przekazane przedmioty:</div><br>
    {% for category in donation.categories.all %}
    <li><div class="container"><strong>{{ category.name }}</strong></div></li><br>
    {% endfor %}
    <li><div class="container">Ilość 60L worków: <strong>{{ donation.quantity}}</strong></div></li><br>
    <li><div class="container">Data odbioru: <strong>{{ donation.pick_up_date }}</strong></div></li><br>
    <li><div class="container">Godzina odbioru <strong>{{ donation.pick_up_time }}</strong></div></li><br>
</ul></h3><br>
{% endfor %}
</div>

{% endblock content %}
{% block footer %}
{% endblock footer %}